@model IEnumerable<RecipeProject.Models.Book>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<h1 class="text-center">Book History</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)

</div>


